h1 {
  color: lightpink;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: lightskyblue;
  font-size: 30px;
  text-align: center;
}
h3 {
  color: violet;
  font-size: 30px;
  text-align: center;
}
